<form [formGroup]="postForm">
  <div class="form-group">
  <label for="title">Title</label>
  <input type="text" class="form-control" name="title" id="title" formControlName="title">
    </div>
  <div class="form-group">
  <label for="text">Text</label>
  <input type="text" class="form-control" name="text" id="text" formControlName="body">
    </div>
  <select class="form-control" name="user" id="user" formControlName="userId">
    <option value="1">User1</option>
    <option value="2">User2</option>
    <option value="3">User3</option>
    <option value="4">User4</option>
  </select>
  <button type="submit" class="btn btn-primary" >Submit</button>
</form>

