<p><a href="" routerLink="..">&lt; Back to users list</a></p>
<h1 *ngIf="loading$|async; else todoList">Loading</h1>


<ng-template #todoList>

  <h1 class="user-name">{{user?.name|titlecase}}</h1>
  <h2 class="user-help">Nickname: {{user?.username}}</h2>
  <p class="user-text">{{user?.email}}</p>
  <h2>Todo list</h2>
  <ul class="todo-list">
    <li class="todo-item" *ngFor="let todo of todos">
      <label>
        <input type="checkbox" [checked]="todo?.completed" (click)="toggle(todo.id, todo.completed)">
        {{todo?.title}}
      </label>
    </li>
  </ul>
</ng-template>
