<h1 *ngIf="loading$|async; else content">Loading</h1>
<ng-template #content>
  <h1>Users</h1>
  <ul class="users-list">
    <li class="users-item" *ngFor="let user of users">
      <a href="" [routerLink]="user?.id">{{user.username}}</a>
    </li>
  </ul>
  <ngb-pagination [collectionSize]="total"
                  [page]="page$ | async"
                  (pageChange)="changePage($event)"
                  [maxSize]="5"
                  [rotate]="true"
                  [ellipses]="false"
                  [pageSize]="5"
                  [boundaryLinks]="true">

  </ngb-pagination>
</ng-template>
